body {
  font-family: $font-family;
  background-image: linear-gradient($background-color-accent, $background-color 200px);
  background-attachment: fixed;
}

a {
  color: $text-color-brand;
  text-decoration: none !important;
  &:active,
  &:visited {
    color: darken($text-color-brand, 20%);
  }
  &:hover {
    color: #ffffff;
  }
}

.site-header,
.site-footer {
  border: 0;
}

.site-title {
  display: block;
  background-image: asset_url("kpireporter_logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 63px;
  height: 31px;
  text-indent: -99999px;
  position: relative;
  top: 19px;
}

.site-header {
  line-height: $header-height;
  min-height: $header-height;
}

.site-nav {
  border: 0;
  .page-link {
    color: $text-color-brand;
    font-size: $base-font-size * 0.8;
    letter-spacing: $base-font-size * 0.2;
    text-transform: uppercase;
    padding: ($spacing-unit / 4) ($spacing-unit / 4);
    &:hover {
      color: #ffffff;
    }
  }
  .menu-icon {
    > svg path {
      fill: $brand-color;
    }
  }
  /* Drop-down menu */
  input:checked ~ .trigger {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    background: $background-color;
    position: relative;
    z-index: 1;
  }
}

.page-content {
  padding: 0;
}

.site-hero {
  position: relative;
  // background-color: $brand-color;
  padding: $spacing-unit $spacing-unit 0;
  margin: 0 (-$spacing-unit) 0 (-$spacing-unit);
  text-align: left;
  h1 {
    @include relative-font-size(4.0);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .3);
    line-height: 1.0em;
    max-width: 610px;
    margin: 0 auto;
    aside {
      @include relative-font-size(2.0);
      color: $text-color-accent;
    }
  }
}

.feature-box {
  display: flex;
  margin: ($spacing-unit * 2) (-$spacing-unit);
  padding: $spacing-unit;
  &.dark {
    border-radius: 10px;
    background-color: $background-color-accent;
  }
  &.r-align {
    flex-direction: row-reverse;
    .text-inset {
      margin: 0 0 0 $spacing-unit;
    }
  }
  &.full {
    display: block;
    text-align: center;
  }
  &.tight {
    margin-top: 0;
    margin-bottom: 0;
  }
  h2 {
    @include relative-font-size(1.75);
    margin-bottom: ($spacing-unit / 4);
    .subheading {
      color: $text-color-accent;
    }
  }
  .text-inset {
    flex: 2;
    margin: 0 $spacing-unit 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      color: $text-color-accent;
      margin: 0;
    }
  }
  .graphic-inset {
    flex: 1;
    &.flush {
      margin: -$spacing-unit;
    }
    &.pop-out {
      flex: 3;
      margin-top: -($spacing-unit * 2);
      margin-right: -($spacing-unit * 1.25);
    }
    &.scroll {
      max-height: 20em;
      overflow-y: scroll;
    }
    .highlight {
      text-align: left !important;
      padding: 1rem;
      border-radius: 0.5rem;
      box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
    }
  }
}

.plugin-logo {
  display: inline-block;
  vertical-align: middle;
  margin: $spacing-unit $spacing-unit 0 0;
  :first-child {
    margin-left: 0;
  }
  img {
    display: block;
  }
  &:hover img {
    filter: drop-shadow(0 2px 10px rgba(0, 0, 0, .7));
  }
  .coming-soon {
    text-transform: uppercase;
    letter-spacing: $base-font-size * 0.1;
    font-size: $base-font-size * 0.8;
    color: $text-color-accent;
  }
}

.social-media-list {
  li {
    margin-left: 10px;
    &:first-child {
      margin-left: 0;
    }
  }
  li a {
    padding: 0;
    border: 0;
  }
  .svg-icon {
    color: $text-color-accent;
    transform: scale(2);
    position: relative;
    padding: 6px;
    &:hover {
      color: $text-color;
    }
  }
}

.pricing-options {
  display: flex;
  justify-content: center;
  margin: $spacing-unit 0 0;
  &.right {
    justify-content: right;
  }
}
.pricing-option {
  border-radius: 5px;
  flex: 1;
  padding: $spacing-unit / 2;
  background: #fff;
  color: #000000;
  max-width: $spacing-unit * 6;
  margin-left: $spacing-unit;
  text-align: center;
  h3 {
    font-weight: bolder;
  }
  &:first-child {
    margin-left: 0;
  }
  &.dark {
    background: $background-color-accent;
    color: $text-color;
  }
}
.pricing-button {
  transition: translateY 250ms;
  display: block;
  background: $brand-color;
  color: #ffffff !important;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 3px;
  &:hover {
    color: #ffffff;
    background: darken($brand-color, 10%);
    transform: translateY(-2px);
  }
}

.follow-form {
  flex: 1;
  display: flex;
  height: $spacing-unit;
  input[type=email] {
    flex: 1;
    background: $background-color-accent;
    border: 0;
    border-radius: 3px 0 0 3px;
    padding: 10px;
    color: $text-color;
    &::placeholder {
      color: fade($text-color, 50%);
    }
  }
  button {
    flex: 1;
    cursor: pointer;
    border: 0;
    background: $brand-color;
    font-family: $font-family;
    color: #ffffff !important;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 0 3px 3px 0;
    &:hover {
      background: lighten($brand-color, 10%);
    }
  }
}

.gumroad-product-embed {
  text-align: center;
  padding-top: $spacing-unit;
}
.gumroad-embed-iframe {
  border: 0;
}

.post-header,
.page-heading {
  margin-top: $spacing-unit;
}

.post-content {
  font-family: sans-serif;
  line-height: 1.75em;
  p, ul, ol {
    margin-top: ($spacing-unit / 2);
  }
  ul, ol {
    li {
      margin-top: ($spacing-unit / 2);
      margin-left: ($spacing-unit / 2);
    }
  }
  li::marker {
    color: $text-color-accent;
  }
  strong {
    border-bottom: 1px solid $text-color-accent;
  }
}

pre, code {
  border: 0;
  padding: 3px 8px;
}

.binder-launch {
  color: lighten($text-color-accent, 30%);
  border-radius: 5px;
  background-color: $background-color-accent;
  font-size: $base-font-size;
  padding: ($spacing-unit / 4);
  p {
    margin: 0;
  }
}

.footer-links {
  display: flex;
  margin: $spacing-unit 0;
  font-size: $base-font-size * 0.8;
  nav {
    flex: 1;
    a {
      display: inline-block;
      margin-left: ($spacing-unit / 2);
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .social-links {
    flex: 1;
  }
  .copyright {
    flex: 1;
  }
}

@media (max-width: 800px) {
  .site-hero {
    padding-bottom: $spacing-unit;
  }
}

@media (max-width: 600px) {
  .site-hero {
    h1 {
      @include relative-font-size(3.0);
      aside {
        @include relative-font-size(1.5);
      }
    }
  }
  .feature-box {
    flex-direction: column-reverse !important;
    margin-top: $spacing-unit;
    .text-inset {
      margin-top: ($spacing-unit/2) !important;
    }
    .graphic-inset {
      text-align: center;
      &.flush {
        margin-bottom: 0;
      }
      &.pop-out {
        margin: 0;
      }
      img {
        max-height: 200px;
      }
    }
  }

  .pricing-options {
    flex-direction: column;
    align-items: center;
    .pricing-option {
      width: 80%;
      margin: 0 0 ($spacing-unit / 2);
    }
  }

  .footer-links {
    flex-direction: column;
    text-align: center;
    > * {
      margin-bottom: $spacing-unit;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
