$content-width: 840px;
$spacing-unit: 45px;
$header-height: 62px;

$text-color: #f2f2f2;
$text-color-accent: #2F80ED;
$text-color-brand: #6FCF97;
$background-color:  #233652;
$background-color-accent: #162842;
$brand-color: #219653;

$font-family: 'Roboto Mono', monospace;
